POWER_PLATFORM_ENVIRONMENT_NAME=
POWER_PLATFORM_ENVIRONMENT_ID=
POWER_PLATFORM_ENVIRONMENT_URL=
POWER_PLATFORM_ORG_ID=
POWER_PLATFORM_UNIQUE_NAME=
SHAREPOINT_SITE_URL=
TEAMS_GROUP_ID=
TEAMS_TENANT_ID=
TEAMS_CHANNEL_ID=
TEAMS_CHANNEL_DEEPLINK=
